Django==3.0.4
django-extensions==2.2.5
easy-thumbnails==2.7
Pillow==8.3.2
pyOpenSSL==19.0.0
python-decouple==3.4
redis==3.5.3
social-auth-app-django==3.1.0
social-auth-core==4.1.0
Werkzeug==0.16.0



